xlsx_files/matriz_executivos.xlsx
xlsx_files/matriz_equipes.xlsx
xlsx_files/matriz_channel.xlsx
xlsx_files/IDS_TargetsDigital.xlsx
test_files/teste.ipynb
test_files/rdstation.py
test_files/finder.txt
test_files/eda_adsim.ipynb
test_files/dummy-deals_test.py
test_files/dummy_test.py
test_files/dummy_datatype-test.ipynb
adsim_config.py
script.log
__pycache__/adsim_config.cpython-311.pyc
json_files/credentials.json
json_files/tokens.json
rdstation_api/age_distribution.png
rdstation_api/destination_preferences.png
rdstation_api/vacation_habits.png
reports/script_report_20250325_095339.json
reports/script_report_20250325_100522.json
reports/script_report_20250325_105523.json
reports/script_report_20250325_110521.json
test_files/adsim.ipynb
test_files/dues_correction.ipynb
xlsx_files
reports
rdstation_api
json_files
test_files
.gitignore
adsim_dicts.py
__pycache__/adsim_dicts.cpython-311.pyc
__pycache__
adsim_teste.xlsx
env_info.txt
/tests
